# console.log(${1:desc}, ${2});
snippet l
        console.log('${VISUAL}$1:'${2:, ${VISUAL}$1});
snippet e
        console.error(${VISUAL}$1);
snippet a
        console.assert(${VISUAL}$1, ${2:\`not ${VISUAL}$1\`});
