snippet / "Doxygen style standard comment"
/**
 * @brief $1
 */
endsnippet

snippet #ifd "#ifdef #else #endif" b
#ifdef ${1:VALUE}
${VISUAL}$0#else
#endif /* $1 */
endsnippet

snippet p "printf"
printf("${VISUAL}$1 %d\n"${2:, ${VISUAL}$1});
endsnippet
