{
    "env": {
        "browser": true,
        "node": true,
        "jquery": true,
        "es6": true
    },
    "settings": {
        "ecmascript": 6,
        "jsx": true
    },
    "ecmaFeatures": {
        "jsx": true
    },
    "plugins": [
    ],
    "globals": {
        "app": true,
        "define": true,
        "_": true,
        "logger": true,
        "moment": true,
        "vex": true,
        "path": true,
        "THREE": true
    },
    "rules": {
        "quotes": 0,
        "strict": [0, "never"],
        "no-trailing-spaces": [0, { "skipBlankLines": true  }],
        "semi": [2, "always"],
        "no-underscore-dangle": 0,
        "no-unused-vars": [1, {
            "args": "after-used",
            "argsIgnorePattern": "^_"
        }],
        "no-use-before-define": 0,
        "no-loop-func": 0,
        "no-multi-spaces": 1,
        "no-empty": 1,
        "space-infix-ops": 0,
        "new-cap": 0,
        "no-shadow": 1,
        "comma-dangle": 1,
        "comma-spacing": 1,
        "curly": 1,
        "camelcase": 0,
        "consistent-return": 1,
        "no-mixed-spaces-and-tabs": 1,
        "key-spacing": 1,
        "dot-notation": 1,
        "no-fallthrough": 1,
        "no-redeclare": 1,
        "no-alert": 0,
        "no-undef": 2
    }
}
