[user]
	email = stevenlu443@gmail.com
[core]
	editor = vim
	whitespace = cr-at-eol
	excludesfile = ~/.gitignore
[color]
	ui = true
[alias]
	lg = log --graph --date-order --pretty=format:'%Cred%h%Creset -%C(bold magenta)%d%Creset %s %Cgreen%ci %C(yellow)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	s = "!f() { git status --short; ignored=$(git ignored); [ -n \"$ignored\" ] && echo \"$ignored\"; };f"
	unadd = reset HEAD
	d = difftool
	ignore = update-index --skip-worktree
	unignore = update-index --no-skip-worktree
	ignored = !git ls-files -v | grep "^S"
	status-with-ignored = "!f() { git status; ignored=$(git ignored); [ -n \"$ignored\" ] && echo \"git skip-worktree:\n$ignored\"; };f"
[difftool "pydifflib"]
	cmd = pydifflib $LOCAL $REMOTE
[difftool "dmp"]
	cmd = dmp_diff $LOCAL $REMOTE
[difftool]
	prompt = false
[diff]
	external = sift -c2
	# tool = pydifflib
	tool = opendiff
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	# diff = less
[color]
	branch = auto
	#diff = always
	status = always
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = blue
	frag = magenta
	old = red
	new = green
	whitespace = blue reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[rerere]
	enabled = true
[merge]
	stat = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
