[user]
	name = Steven Lu
	email = stevenlu443@gmail.com
[core]
	editor = vim
	whitespace = cr-at-eol
	excludesfile = ~/.gitignore
[color]
	ui = true
[alias]
	lg = log --graph --date-order --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	s = status --short
	unadd = reset HEAD
	d = difftool
[difftool "pydifflib"]
	cmd = pydifflib $LOCAL $REMOTE
[difftool "dmp"]
	cmd = dmp_diff $LOCAL $REMOTE
[difftool]
	prompt = false
[diff]
	external = sift
	# tool = pydifflib
	tool = opendiff
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	# diff = less
[color]
	branch = auto
	diff = always
	status = always
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = blue
	frag = magenta
	old = red
	new = green
	whitespace = blue reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
