# No idea what this is for actually
#set meta-flag on

set editing-mode vi

# these 3 are already set by /etc/inputrc
set input-meta on
set convert-meta off
set output-meta on

"[1~": beginning-of-line
"[4~": end-of-line
"[1;5C": forward-word
"[1;5D": backward-word

# Ctrl+Del to killword
# ^[ is equivalent to \e, but somehow the "^[[3;5~" version 
# doesn't seem to work for me. 

"": backward-kill-word

# "": backward-delete-char

# Very sad to say that Ctrl+Backspace is a special case and can't be done 
# with inputrc alone :(

set show-all-if-ambiguous on
set completion-ignore-case on
