# No idea what this is for actually
#set meta-flag on

set editing-mode vi

# these 3 are already set by /etc/inputrc
set input-meta on
set convert-meta off
set output-meta on

# home/end
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# ctrl arrow word hop
"\e[1;5C": forward-word
"\e[1;5D": backward-word

# alt arrow word hop
"\e[1;3C": forward-word
"\e[1;3D": backward-word

# searches!
"\e[A":history-search-backward
"\e[B":history-search-forward

# Ctrl+Del to killword
# ^[ is equivalent to \e, but somehow the "^[[3;5~" version 
# doesn't seem to work for me. 

"\e": backward-kill-word
"\e[3;5~": kill-word

# "": backward-delete-char

# Very sad to say that Ctrl+Backspace is a special case and can't be done 
# with inputrc alone :(

set show-all-if-ambiguous on
set completion-ignore-case on

$if Bash
     Space: magic-space
$endif
